.pageTitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.backButtonWrapper {
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.backButtonWrapper .btn-outline {
  display: block;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
